.FAC_option_buttons {
  width: 35%;
}

.FAC_option_button {
  width: 80%;
}

.FAC_option_buttons_container {
  display: flex;
  justify-content: space-evenly;
  height: 25%;
}

.FAC_option_button_container {
  display: flex;
  justify-content: space-evenly;
  height: 25%;
}

.FAC_options_container {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.FAC_header_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}