.App {
  background-color: #282c346f;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.return_button {
  padding: 10px 20px;
  background-color: #1b1618;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.return_button_container {
  padding: 26px;
}

.navigation_buttons {
  min-height: 50%;
  transition-duration: 0.4s;
  border-radius: 10px;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
}

.navigation_buttons:hover {
  background-color: #0452aa;
  color: white;
}

.standard_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
