.App {
  background-color: #282c346f;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}
.return_button {
  padding: 10px 20px;
  background-color: #1b1618;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.return_button_container {
  padding: 26px 0px 0px 26px;
}

.navigation_buttons {
  min-height: 50%;
  transition-duration: 0.4s;
  border-radius: 10px;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
}

.navigation_buttons:hover {
  background-color: #0452aa;
  color: white;
}

.standard_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.back-buttons {
  display: flex;
}

/* Bigger screen */
@media screen and (min-width: 800px) {
  .navigation_buttons {
    font-size: xx-large;
    transition-duration: 0.4s;
  }
  .return_button {
    padding: 15px 25px;
    font-size: larger;
    transition-duration: 0.4s;
  }
}

/* Smaller screen */
@media screen and (max-width: 799px) {
  .home_creditPathLogo {
    height: 80px !important;
    transition-duration: 0.4s;
  }
}
