.rec-cards_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-evenly;
}

.rec-cards_info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 60px;
}

.rec-cards_image-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rec-cards_card {
  height: 100px;
}

.apply_button {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 3px;
}

.rec-cards_text {
  font-size: larger;
  width: 80%;
  background-color: #5d64726f;
  border-radius: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
}

/* Responsive layout for small screens */
@media screen and (max-width: 500px) {
  .rec-cards_page {
    overflow-y: scroll;
  }

  .rec-cards_text {
    width: 100%;
  }
}
