.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: white;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.login-container button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.login-container button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
